<a href="https://colab.research.google.com/github/paulosalvatore/Ocean_CienciaDados_23_02_2021/blob/main/Ocean_CienciaDados_23_02_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
# Lista

lista = [10, 20, 30, 40, 50]

print(lista)
print(type(lista))
print("Primeiro elemento:", lista[0])
print("Primeiro elemento:", type(lista[0]))

# Series -> Lista

series_numerica = pd.Series(lista)

print(series_numerica)
print(type(series_numerica))
print("Primeiro elemento da series:", series_numerica[0])
print("Primeiro elemento:", type(series_numerica[0]))

[10, 20, 30, 40, 50]
<class 'list'>
Primeiro elemento: 10
Primeiro elemento: <class 'int'>
0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>
Primeiro elemento da series: 10
Primeiro elemento: <class 'numpy.int64'>