<a href="https://colab.research.google.com/github/paulosalvatore/Ocean_CienciaDados_23_02_2021/blob/main/Ocean_CienciaDados_23_02_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução ao Pandas

In [1]:
import pandas as pd

In [7]:
# Lista

lista = [10, 20, 30, 40, 50]

print(lista)
print(type(lista))
print("Primeiro elemento:", lista[0])
print("Primeiro elemento:", type(lista[0]))

# Criando uma Series -> Mesma coisa que uma lista, mas com as funções do Pandas e o Numpy por baixo dos panos

series_numerica = pd.Series(lista)

print(series_numerica)
print(type(series_numerica))
print("Primeiro elemento da series:", series_numerica[0])
print("Primeiro elemento:", type(series_numerica[0]))

[10, 20, 30, 40, 50]
<class 'list'>
Primeiro elemento: 10
Primeiro elemento: <class 'int'>
0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>
Primeiro elemento da series: 10
Primeiro elemento: <class 'numpy.int64'>

In [8]:
# Criando uma Series com o mesmo valor várias vezes

pd.Series(9.7, range(10))

0    9.7
1    9.7
2    9.7
3    9.7
4    9.7
5    9.7
6    9.7
7    9.7
8    9.7
9    9.7
dtype: float64

In [10]:
# Quantos elementos temos na Series?

# Na lista:
print("Quantidade de elementos na Lista:", len(lista))

# Na Series:
print("Quantidade de elementos na Series:", series_numerica.count())

Quantidade de elementos na Lista: 5
Quantidade de elementos na Series: 5

In [19]:
# A grande vantagem das series é a utilização com fórmulas matemáticas e cálculos estatísticos

# Média
print("Média", series_numerica.mean())

# Mínimo
print("Mínimo", series_numerica.min())

# Máximo
print("Máximo", series_numerica.max())

# Desvio Padrão
print("Desvio Padrão", series_numerica.std())

print("\nSeries Describe\n")
series_numerica.describe()

Média 30.0
Mínimo 10
Máximo 50
Desvio Padrão 15.811388300841896

Series Describe

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [22]:
lista = [10, 20, 30]
lista_indices = ['1ª dezena', '2ª dezena', '3ª dezena']

lista_indices_nomeados = pd.Series(lista, lista_indices)

print(lista_indices_nomeados)

print(lista_indices_nomeados['1ª dezena'])

1ª dezena    10
2ª dezena    20
3ª dezena    30
dtype: int64
10

In [51]:
# DataFrame

# Representa uma matriz/dataset, que são tabelas (linhas e colunas)

# Um DataFrame possui várias Series dentro

# Criação de um Dicionário

dicionario = {
    'ESTADO': ['Amazonas', 'Amapá', 'Acre'],
    'SIGLA': ['AM', 'AP', 'AC'],
    'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']
}

print(dicionario)
print(type(dicionario))

dt = pd.DataFrame(dicionario)

print()

print(type(dt))
print(dt)

{'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'SIGLA': ['AM', 'AP', 'AC'], 'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']}
<class 'dict'>

<class 'pandas.core.frame.DataFrame'>
     ESTADO SIGLA     CAPITAL
0  Amazonas    AM      Manaus
1     Amapá    AP      Macapá
2      Acre    AC  Rio Branco

In [41]:
dt

     ESTADO SIGLA     CAPITAL
0  Amazonas    AM      Manaus
1     Amapá    AP      Macapá
2      Acre    AC  Rio Branco

In [43]:
print(dicionario['ESTADO'])
print(type(dicionario['ESTADO']))

['Amazonas', 'Amapá', 'Acre']
<class 'list'>

In [47]:
print(dt['ESTADO'])
print(type(dt['ESTADO']))

0    Amazonas
1       Amapá
2        Acre
Name: ESTADO, dtype: object
<class 'pandas.core.series.Series'>

In [53]:
print(dt['ESTADO'].describe())

count         3
unique        3
top       Amapá
freq          1
Name: ESTADO, dtype: object

In [56]:
dt.ESTADO

0    Amazonas
1       Amapá
2        Acre
Name: ESTADO, dtype: object

# Trabalhando com CSV

In [57]:
import pandas as pd

In [58]:
dt = pd.read_csv('https://raw.githubusercontent.com/paulosalvatore/Ocean_CienciaDados_23_02_2021/main/dados-curso.csv')

In [ ]:
dt

In [66]:
print(dt.shape)
print(type(dt.shape))

rows = dt.shape[0]
print(rows)

(500, 9)
<class 'tuple'>
500

In [ ]:
dt.head(20)