<a href="https://colab.research.google.com/github/paulosalvatore/Ocean_CienciaDados_23_02_2021/blob/main/Ocean_CienciaDados_23_02_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução ao Pandas

In [ ]:
import pandas as pd

In [ ]:
# Lista

lista = [10, 20, 30, 40, 50]

print(lista)
print(type(lista))
print("Primeiro elemento:", lista[0])
print("Primeiro elemento:", type(lista[0]))

# Criando uma Series -> Mesma coisa que uma lista, mas com as funções do Pandas e o Numpy por baixo dos panos

series_numerica = pd.Series(lista)

print(series_numerica)
print(type(series_numerica))
print("Primeiro elemento da series:", series_numerica[0])
print("Primeiro elemento:", type(series_numerica[0]))

[10, 20, 30, 40, 50]
<class 'list'>
Primeiro elemento: 10
Primeiro elemento: <class 'int'>
0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>
Primeiro elemento da series: 10
Primeiro elemento: <class 'numpy.int64'>

In [ ]:
# Criando uma Series com o mesmo valor várias vezes

pd.Series(9.7, range(10))

0    9.7
1    9.7
2    9.7
3    9.7
4    9.7
5    9.7
6    9.7
7    9.7
8    9.7
9    9.7
dtype: float64

In [ ]:
# Quantos elementos temos na Series?

# Na lista:
print("Quantidade de elementos na Lista:", len(lista))

# Na Series:
print("Quantidade de elementos na Series:", series_numerica.count())

Quantidade de elementos na Lista: 5
Quantidade de elementos na Series: 5

In [ ]:
# A grande vantagem das series é a utilização com fórmulas matemáticas e cálculos estatísticos

# Média
print("Média", series_numerica.mean())

# Mínimo
print("Mínimo", series_numerica.min())

# Máximo
print("Máximo", series_numerica.max())

# Desvio Padrão
print("Desvio Padrão", series_numerica.std())

print("\nSeries Describe\n")
series_numerica.describe()

Média 30.0
Mínimo 10
Máximo 50
Desvio Padrão 15.811388300841896

Series Describe

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [ ]:
lista = [10, 20, 30]
lista_indices = ['1ª dezena', '2ª dezena', '3ª dezena']

lista_indices_nomeados = pd.Series(lista, lista_indices)

print(lista_indices_nomeados)

print(lista_indices_nomeados['1ª dezena'])

1ª dezena    10
2ª dezena    20
3ª dezena    30
dtype: int64
10

In [ ]:
# DataFrame

# Representa uma matriz/dataset, que são tabelas (linhas e colunas)

# Um DataFrame possui várias Series dentro

# Criação de um Dicionário

dicionario = {
    'ESTADO': ['Amazonas', 'Amapá', 'Acre'],
    'SIGLA': ['AM', 'AP', 'AC'],
    'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']
}

print(dicionario)
print(type(dicionario))

dt = pd.DataFrame(dicionario)

print()

print(type(dt))
print(dt)

{'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'SIGLA': ['AM', 'AP', 'AC'], 'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']}
<class 'dict'>

<class 'pandas.core.frame.DataFrame'>
     ESTADO SIGLA     CAPITAL
0  Amazonas    AM      Manaus
1     Amapá    AP      Macapá
2      Acre    AC  Rio Branco

In [ ]:
dt

     ESTADO SIGLA     CAPITAL
0  Amazonas    AM      Manaus
1     Amapá    AP      Macapá
2      Acre    AC  Rio Branco

In [ ]:
print(dicionario['ESTADO'])
print(type(dicionario['ESTADO']))

['Amazonas', 'Amapá', 'Acre']
<class 'list'>

In [ ]:
print(dt['ESTADO'])
print(type(dt['ESTADO']))

0    Amazonas
1       Amapá
2        Acre
Name: ESTADO, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
print(dt['ESTADO'].describe())

count         3
unique        3
top       Amapá
freq          1
Name: ESTADO, dtype: object

In [ ]:
dt.ESTADO

0    Amazonas
1       Amapá
2        Acre
Name: ESTADO, dtype: object

# Trabalhando com CSV

In [ ]:
import pandas as pd

In [ ]:
dt = pd.read_csv('https://raw.githubusercontent.com/paulosalvatore/Ocean_CienciaDados_23_02_2021/main/dados-curso.csv')

In [ ]:
dt

In [ ]:
print(dt.shape)
print(type(dt.shape))

rows = dt.shape[0]
print(rows)

(500, 9)
<class 'tuple'>
500

In [ ]:
dt.head(20)

In [71]:
dt.lugar

0      Rio das Ostras
1           Sao Paulo
2              Lisbon
3           Sao Paulo
4              Santos
            ...
495        Rio Branco
496    Rio de Janeiro
497           Toronto
498         Sao Paulo
499            Lisbon
Name: lugar, Length: 500, dtype: object

In [72]:
dt.lugar.describe()

count        500
unique       202
top       Lisbon
freq          61
Name: lugar, dtype: object

In [73]:
dt.lugar[4]

'Santos'

In [74]:
dt

                    data  ...  longitude
0    2020-05-23 00:21:14  ... -22.522600
1    2020-03-22 22:57:51  ... -23.606067
2    2020-04-14 00:11:33  ...  38.747518
3    2020-05-25 20:45:43  ... -23.550000
4    2020-04-15 10:34:39  ... -23.975947
..                   ...  ...        ...
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[500 rows x 9 columns]

In [79]:
# ILOC

print(dt.iloc[0])

print(type(dt.iloc[0]))

print(dt.latitude[0])
print(dt.iloc[0].latitude)

data                                       2020-05-23 00:21:14
texto        Para voltar tudo ao normal, você precisa fazer...
retweet                                                      0
idioma                                                      pt
lugar                                           Rio das Ostras
pais                                                    Brazil
sigla                                                       BR
latitude                                              -41.9379
longitude                                             -22.5226
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
-41.9379
-41.9379

In [77]:
print(dt.lugar)

print(type(dt.lugar))

0      Rio das Ostras
1           Sao Paulo
2              Lisbon
3           Sao Paulo
4              Santos
            ...
495        Rio Branco
496    Rio de Janeiro
497           Toronto
498         Sao Paulo
499            Lisbon
Name: lugar, Length: 500, dtype: object
<class 'pandas.core.series.Series'>

In [87]:
# Filtrando pelo valor

dt[dt.lugar == 'Santos']

                    data  ...  longitude
4    2020-04-15 10:34:39  ... -23.975947
198  2020-03-21 23:31:34  ... -23.935400
227  2020-04-04 21:21:39  ... -23.975065
322  2020-04-05 12:59:56  ... -23.972999
437  2020-04-16 05:26:51  ... -23.933876

[5 rows x 9 columns]

In [88]:
dt.iloc[50:55]

                   data  ...  longitude
50  2020-04-15 19:17:29  ... -20.450000
51  2020-04-06 18:07:36  ... -22.864700
52  2020-03-14 20:47:41  ...  38.726100
53  2020-03-31 20:23:05  ... -30.029100
54  2020-03-05 10:11:05  ...  38.747518

[5 rows x 9 columns]

In [89]:
dt.iloc[:]

                    data  ...  longitude
0    2020-05-23 00:21:14  ... -22.522600
1    2020-03-22 22:57:51  ... -23.606067
2    2020-04-14 00:11:33  ...  38.747518
3    2020-05-25 20:45:43  ... -23.550000
4    2020-04-15 10:34:39  ... -23.975947
..                   ...  ...        ...
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[500 rows x 9 columns]

In [96]:
quantidade_total = len(dt.index)

print(quantidade_total)

dt.iloc[-50:]

500

                    data  ...  longitude
450  2020-01-31 16:50:40  ... -23.002840
451  2020-04-15 23:47:27  ... -22.522600
452  2020-04-06 20:13:17  ... -20.450000
453  2020-03-13 21:02:00  ...  43.648000
454  2020-04-11 06:25:15  ... -36.847000
455  2020-03-08 19:30:30  ... -23.007902
456  2020-04-17 05:39:44  ... -13.125600
457  2020-04-03 13:44:00  ...  -5.187778
458  2020-03-03 22:38:55  ... -23.555720
459  2020-03-17 23:18:39  ...  -8.059860
460  2020-03-30 17:45:49  ... -12.998912
461  2020-03-06 11:53:38  ...  38.747518
462  2020-03-14 17:37:48  ... -19.919100
463  2020-05-30 14:09:42  ... -10.700000
464  2020-05-31 22:48:54  ... -14.216078
465  2020-04-01 23:55:50  ... -23.550000
466  2020-01-21 12:01:34  ...  38.747518
467  2020-03-22 17:59:35  ... -23.364520
468  2020-04-15 23:37:04  ... -23.231156
469  2020-03-18 16:40:26  ... -23.614586
470  2020-05-19 02:57:10  ... -23.550000
471  2020-05-27 19:37:48  ... -12.576634
472  2020-03-22 13:14:24  ... -22.986262
473  2020-03-21 21:52:11  ... -23.550000
474  2020-05-20 20:08:51  ...  -8.048379
475  2020-04-08 14:47:56  ... -14.216078
476  2020-05-31 15:36:34  ... -22.968272
477  2020-01-23 14:49:02  ...  38.747518
478  2020-03-25 17:34:20  ... -30.043128
479  2020-04-03 13:41:56  ...  41.155124
480  2020-04-06 20:22:49  ... -11.000000
481  2020-03-13 18:39:03  ...  38.747518
482  2020-04-02 16:58:58  ... -23.487882
483  2020-03-21 16:05:28  ... -23.523959
484  2020-04-08 01:41:56  ... -12.273669
485  2020-04-14 23:37:07  ...  -8.060500
486  2020-04-03 04:08:13  ... -22.533328
487  2020-03-18 10:02:58  ...  -8.116724
488  2020-03-21 20:59:35  ... -21.432240
489  2020-04-07 22:11:41  ... -27.677304
490  2020-04-16 19:29:12  ...  51.514100
491  2020-04-16 05:34:04  ...  38.747518
492  2020-05-25 14:43:25  ...  -8.286753
493  2020-04-08 23:40:59  ... -25.297434
494  2020-04-14 12:06:38  ... -23.540780
495  2020-04-07 16:14:13  ...  -9.932246
496  2020-03-26 18:02:28  ... -22.942800
497  2020-03-18 05:28:16  ...  43.648000
498  2020-03-03 21:27:11  ... -23.550000
499  2020-01-21 13:18:03  ...  38.747518

[50 rows x 9 columns]